USE [master]
GO
/****** Object:  Database [DuAn1Nam]    Script Date: 07/09/2023 4:18:54 CH ******/
CREATE DATABASE [DuAn1Nam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuAn1Nam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DuAn1Nam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DuAn1Nam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DuAn1Nam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuAn1Nam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuAn1Nam]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[IDDanhMuc] [uniqueidentifier] NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoaDon] [uniqueidentifier] NOT NULL,
	[IDTaiKhoan] [uniqueidentifier] NOT NULL,
	[TenHoaDon] [nvarchar](300) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[GhiChu] [ntext] NULL,
	[NgayThem] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDKhachHang] [uniqueidentifier] NULL,
	[IDKhuyenMai] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[IDHoaDon] [uniqueidentifier] NOT NULL,
	[IDSanPham] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[TrangThai] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[IDHoaDon] [uniqueidentifier] NOT NULL,
	[NhaCungUng] [nvarchar](max) NULL,
	[TenHoaDon] [nvarchar](100) NOT NULL,
	[IDNhanVienKho] [uniqueidentifier] NOT NULL,
	[IDNhanVienCuaHang] [uniqueidentifier] NULL,
	[NgayThem] [datetime] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhapChiTiet]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhapChiTiet](
	[IDHoaDon] [uniqueidentifier] NULL,
	[IDSanPham] [uniqueidentifier] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuongThucTe] [int] NULL,
	[NgayThem] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](10) NOT NULL,
	[NgayThem] [datetime] NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[IDKhuyenMai] [uniqueidentifier] NOT NULL,
	[TenKhuyenMai] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[SoLanApDung] [int] NOT NULL,
	[ChietKhau] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNguoiDung]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNguoiDung](
	[IDLoaiNguoiDung] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLoaiNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanHieu]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanHieu](
	[IDNhanHieu] [uniqueidentifier] NOT NULL,
	[TenNhanHieu] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhanHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomHuong]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHuong](
	[IDNhomHuong] [uniqueidentifier] NOT NULL,
	[TenNhomHuong] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhomHuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[IDSanPham] [uniqueidentifier] NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[IDDanhMuc] [uniqueidentifier] NOT NULL,
	[IDNhomHuong] [uniqueidentifier] NOT NULL,
	[KichThuoc] [int] NOT NULL,
	[IDNhanHieu] [uniqueidentifier] NOT NULL,
	[IDXuatXu] [uniqueidentifier] NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[GiaGoc] [decimal](18, 0) NOT NULL,
	[GiaGiam] [decimal](18, 0) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[ChietKhau] [int] NOT NULL,
	[ImageUrl] [varchar](150) NULL,
	[SoLuongTrongKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [uniqueidentifier] NOT NULL,
	[IDLoaiNguoiDung] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[IDXuatXu] [uniqueidentifier] NOT NULL,
	[TenXuatXu] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDXuatXu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([IDDanhMuc], [TenDanhMuc], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'5ef83f30-8dcb-415c-b083-10ee87bfb778', N'Nước hoa Nữ', CAST(N'2023-09-06T16:38:38.890' AS DateTime), NULL, 1)
INSERT [dbo].[DanhMuc] ([IDDanhMuc], [TenDanhMuc], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'91a76170-be20-4e5b-b456-1e816e248f7f', N'Unisex', CAST(N'2023-09-06T16:38:43.040' AS DateTime), NULL, 1)
INSERT [dbo].[DanhMuc] ([IDDanhMuc], [TenDanhMuc], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'61d86e3b-e812-4853-9166-a40b072a73b0', N'None', CAST(N'2023-09-06T16:38:34.397' AS DateTime), NULL, 1)
GO
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDTaiKhoan], [TenHoaDon], [TongTien], [GhiChu], [NgayThem], [TrangThai], [IDKhachHang], [IDKhuyenMai]) VALUES (N'b32eba69-d617-4f1e-b93d-044a14da44eb', N'37a14152-9e33-4730-9f34-b0e4e8a2a04e', N'Hóa đơn cửa hàng nước hoa Perfumi', CAST(0 AS Decimal(18, 0)), N'', CAST(N'2023-09-07T12:13:01.090' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDTaiKhoan], [TenHoaDon], [TongTien], [GhiChu], [NgayThem], [TrangThai], [IDKhachHang], [IDKhuyenMai]) VALUES (N'6156f913-1bef-4e11-9529-06bfd5b93aba', N'37a14152-9e33-4730-9f34-b0e4e8a2a04e', N'Hóa đơn cửa hàng nước hoa Perfumi', CAST(0 AS Decimal(18, 0)), N'', CAST(N'2023-09-07T12:12:55.923' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDTaiKhoan], [TenHoaDon], [TongTien], [GhiChu], [NgayThem], [TrangThai], [IDKhachHang], [IDKhuyenMai]) VALUES (N'2a5034c2-da0d-4fcd-886e-14a55ebde656', N'37a14152-9e33-4730-9f34-b0e4e8a2a04e', N'Hóa đơn cửa hàng nước hoa Perfumi', CAST(8020000 AS Decimal(18, 0)), N'', CAST(N'2023-09-07T12:12:43.853' AS DateTime), 1, N'16626091-d1ec-4506-817a-0dbd23be8c96', NULL)
GO
INSERT [dbo].[HoaDonChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [NgayThem], [DonGia], [TrangThai]) VALUES (N'229a3d32-19db-4c42-b772-46239ad88dac', N'8ecac446-ab2b-4680-805f-f992c3b9b0d7', 1, CAST(N'2023-09-07T12:15:56.303' AS DateTime), CAST(3450000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HoaDonChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [NgayThem], [DonGia], [TrangThai]) VALUES (N'229a3d32-19db-4c42-b772-46239ad88dac', N'c039603a-915a-4647-bfba-f5445c90b85b', 1, CAST(N'2023-09-07T12:16:00.083' AS DateTime), CAST(2800000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HoaDonChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [NgayThem], [DonGia], [TrangThai]) VALUES (N'cd8e8b14-5e24-4d95-8b57-3130b2ad8dca', N'8d0a4378-602c-4ecd-802d-ec54a3ce8e5a', 1, CAST(N'2023-09-07T12:18:55.383' AS DateTime), CAST(2625000 AS Decimal(18, 0)), 1)
GO
INSERT [dbo].[HoaDonNhap] ([IDHoaDon], [NhaCungUng], [TenHoaDon], [IDNhanVienKho], [IDNhanVienCuaHang], [NgayThem], [TongTien], [GhiChu], [TrangThai]) VALUES (N'd6383b2d-887b-4f1f-b10e-00cd8717f2b8', NULL, N'Hóa đơn xuất kho', N'0fd41dea-5c10-4932-9e05-d7df88ff5f07', N'37a14152-9e33-4730-9f34-b0e4e8a2a04e', CAST(N'2023-09-07T11:00:57.427' AS DateTime), CAST(0 AS Decimal(18, 0)), N'', 3)
INSERT [dbo].[HoaDonNhap] ([IDHoaDon], [NhaCungUng], [TenHoaDon], [IDNhanVienKho], [IDNhanVienCuaHang], [NgayThem], [TongTien], [GhiChu], [TrangThai]) VALUES (N'f9d029af-a3f0-45d3-b446-06da791168c2', N'Công ty TNHH mỹ phẩm C', N'Hóa đơn nhập kho', N'0fd41dea-5c10-4932-9e05-d7df88ff5f07', NULL, CAST(N'2023-09-07T09:52:31.020' AS DateTime), CAST(494335000 AS Decimal(18, 0)), N'', 1)
INSERT [dbo].[HoaDonNhap] ([IDHoaDon], [NhaCungUng], [TenHoaDon], [IDNhanVienKho], [IDNhanVienCuaHang], [NgayThem], [TongTien], [GhiChu], [TrangThai]) VALUES (N'0c705bff-5b6f-4a68-a96c-06e9caec763f', NULL, N'Hóa đơn xuất kho', N'0fd41dea-5c10-4932-9e05-d7df88ff5f07', NULL, CAST(N'2023-09-07T11:03:40.627' AS DateTime), CAST(0 AS Decimal(18, 0)), NULL, 6)
GO
INSERT [dbo].[HoaDonNhapChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [DonGia], [SoLuongThucTe], [NgayThem]) VALUES (N'9560e0da-f2cc-46fa-9828-ae54bdcd85d3', N'ddc65a32-c2ec-4a5e-a72b-f40f022315e8', 15, CAST(300000 AS Decimal(18, 0)), NULL, CAST(N'2023-09-07T09:00:21.763' AS DateTime))
INSERT [dbo].[HoaDonNhapChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [DonGia], [SoLuongThucTe], [NgayThem]) VALUES (N'9560e0da-f2cc-46fa-9828-ae54bdcd85d3', N'c039603a-915a-4647-bfba-f5445c90b85b', 11, CAST(2300000 AS Decimal(18, 0)), NULL, CAST(N'2023-09-07T09:01:23.830' AS DateTime))
INSERT [dbo].[HoaDonNhapChiTiet] ([IDHoaDon], [IDSanPham], [SoLuong], [DonGia], [SoLuongThucTe], [NgayThem]) VALUES (N'7cdca911-71ba-4d34-ac4a-e7aed0dbde3d', N'c4fb5ba5-d65f-4270-abbf-2c4ddc97694a', 15, CAST(2098000 AS Decimal(18, 0)), NULL, CAST(N'2023-09-07T09:03:25.063' AS DateTime))
GO
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SoDienThoai], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'ce8254d7-1d7f-47dd-b0c9-01365844e858', N'Lê Nhật Thương Thương', N'0968532551', CAST(N'2023-09-07T12:19:23.467' AS DateTime), NULL, 0)
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SoDienThoai], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'79e4dc03-8b5e-4139-9c0f-0a3e88efe4ca', N'Nguyễn Duy Thành Nam', N'0986406971', CAST(N'2023-09-07T09:40:19.347' AS DateTime), NULL, 3)
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SoDienThoai], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'1f0efd92-7f2e-4049-a5a7-0bb793b9961d', N'Nguyễn Lê Công Thoại', N'0966676453', CAST(N'2023-09-07T12:32:58.350' AS DateTime), NULL, 0)
GO
INSERT [dbo].[KhuyenMai] ([IDKhuyenMai], [TenKhuyenMai], [NgayThem], [NgaySua], [TrangThai], [SoLanApDung], [ChietKhau]) VALUES (N'116fe5ca-9aaf-4f0a-9d5a-57d84004b515', N'Khuyến mãi 2/9', CAST(N'2023-09-07T09:26:31.510' AS DateTime), NULL, 1, 4, 10)
INSERT [dbo].[KhuyenMai] ([IDKhuyenMai], [TenKhuyenMai], [NgayThem], [NgaySua], [TrangThai], [SoLanApDung], [ChietKhau]) VALUES (N'035b7419-a090-48a7-af70-a47ac693ac26', N'Khuyến mãi sale 30%', CAST(N'2023-09-07T09:26:46.420' AS DateTime), NULL, 1, 0, 30)
INSERT [dbo].[KhuyenMai] ([IDKhuyenMai], [TenKhuyenMai], [NgayThem], [NgaySua], [TrangThai], [SoLanApDung], [ChietKhau]) VALUES (N'6add62ee-72b1-4ea4-b2b6-c05720f1d787', N'Khuyến mãi test', CAST(N'2023-09-07T09:29:12.607' AS DateTime), NULL, 2, 10, 10)
GO
INSERT [dbo].[LoaiNguoiDung] ([IDLoaiNguoiDung], [Ten], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'e0f09826-f2c6-4d0d-8f86-10ac32a8d682', N'Quản lý', CAST(N'2023-07-13T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[LoaiNguoiDung] ([IDLoaiNguoiDung], [Ten], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'9ef3fd34-1097-4e5b-9d86-635eb269885f', N'Nhân viên', CAST(N'2023-07-13T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[LoaiNguoiDung] ([IDLoaiNguoiDung], [Ten], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'f5168a17-d77f-451c-80b5-c0c83ec75d6b', N'Nhân viên kho', CAST(N'2023-08-16T00:00:00.000' AS DateTime), NULL, 1)
GO
INSERT [dbo].[NhanHieu] ([IDNhanHieu], [TenNhanHieu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'47336ec9-ad54-4d66-aecd-02d6cbae94c3', N'Salvatore Ferragamo', CAST(N'2023-09-06T16:38:49.903' AS DateTime), NULL, 1)
INSERT [dbo].[NhanHieu] ([IDNhanHieu], [TenNhanHieu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'4fd7ffd7-be08-4454-b95b-0470ea68339e', N'Gucci', CAST(N'2023-09-06T16:38:45.340' AS DateTime), NULL, 1)
INSERT [dbo].[NhanHieu] ([IDNhanHieu], [TenNhanHieu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'86f9d753-2c0e-47e3-abb9-07fa86b0f697', N'Abercrombie & Fitch', CAST(N'2023-09-06T16:38:39.397' AS DateTime), NULL, 1)
GO
INSERT [dbo].[NhomHuong] ([IDNhomHuong], [TenNhomHuong], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'53c30a9e-d7e1-4c10-adee-0891b4f802d2', N'Hương Gỗ thơm - Woody Aromatic', CAST(N'2023-09-06T23:36:23.133' AS DateTime), NULL, 1)
INSERT [dbo].[NhomHuong] ([IDNhomHuong], [TenNhomHuong], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'b6ebe5f0-a18a-4441-aa52-0c47e9374c6e', N'Hương trái cây SÍP - Chypre Fruity', CAST(N'2023-09-06T16:38:45.293' AS DateTime), NULL, 1)
INSERT [dbo].[NhomHuong] ([IDNhomHuong], [TenNhomHuong], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'07ff5d0b-055d-4e6c-b29a-15a0151b4b5c', N'Hương thơm Dương xỉ - Aromatic Fougere', CAST(N'2023-09-06T16:38:36.550' AS DateTime), NULL, 1)
GO
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'7be022e9-91f7-4bae-9fa7-04960d0b6ad2', N'Nước Hoa Giorgio Armani Acqua Di Gio For Men EDT', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'432230c3-1e4c-42bd-b548-463153fc685d', 50, N'b0d2a09f-adc4-4259-b4a2-f4e0a8723227', N'8fcce473-6183-474b-af8f-de655a199bba', N'Acqua Di Gio For Men được chế tạo ra vào năm 1996, thuộc hương hoa cỏ trái cây bởi Alberto Morillas. Lấy cảm hứng từ vẻ đẹp của Pantellerie, nơi ông đã trải qua kỳ nghỉ của mình, Armani tạo ra mùi thơm của Aqua di Gio cho cả nam giới lẫn nữ giới. 
Hương thơm dành cho nam giới là một mùi hương của sự tự do, đầy gió và nước. Hỗn hợp mùi hương này được hình thành từ sự hòa hợp hoàn hảo giữa mùi hương ngòn ngọt mằn mặn của nước biển và ánh nắng ấm áp mơn trớn trên làn da của bạn. Aqua di Gio đầy ánh nắng mặt trời Địa Trung Hải nóng như thiêu đốt. Hương cam quýt đăng đắng với hương thơm của hương thảo quyện với vị mặn của biển và tinh chất hoa nhài trong suốt.', CAST(2398000 AS Decimal(18, 0)), CAST(2398000 AS Decimal(18, 0)), 12, CAST(N'2023-09-06T16:38:35.963' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Giorgio Armani Acqua Di Gio For Men EDT.png', 6)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'2cb758ef-ee48-4538-9f06-09658a03db92', N'Nước hoa Armani Code For Men EDT', N'8758f537-ea3a-42fb-91f2-dc3f6cfd0793', N'dd3416bd-d492-4d1d-8cac-bee1f6aa077a', 75, N'ab0a20bd-5338-4316-b3d5-102a85e7eb45', N'c4d371a1-4308-416a-95b2-bf4029264a3c', N'Armani Code EDT của thương hiệu Giorgio Armani là một hương phương đông - cay nồng dành cho nam giới. Armani Code EDT đã được ra mắt vào năm 2004, thuộc hương cay nồng phương Đông và là một sáng tạo của Antoine Lie, Antoine Maisondieu và Clement Gavarry. 
Loại nước hoa này đã đoạt giải thưởng FiFi Fragrance Of The Year Men`s Luxe vào năm 2006.', CAST(2625000 AS Decimal(18, 0)), CAST(2625000 AS Decimal(18, 0)), 14, CAST(N'2023-09-06T23:47:35.657' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Armani Code For Men EDT.png', 5)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'c4fb5ba5-d65f-4270-abbf-2c4ddc97694a', N'Nước Hoa Giorgio Armani Acqua Di Gio For Men EDT', N'8758f537-ea3a-42fb-91f2-dc3f6cfd0793', N'7cc0c516-0446-4fa4-ab5c-edda33143a84', 50, N'ab0a20bd-5338-4316-b3d5-102a85e7eb45', N'c4d371a1-4308-416a-95b2-bf4029264a3c', N'Acqua Di Gio For Men được chế tạo ra vào năm 1996, thuộc hương hoa cỏ trái cây bởi Alberto Morillas. Lấy cảm hứng từ vẻ đẹp của Pantellerie, nơi ông đã trải qua kỳ nghỉ của mình, Armani tạo ra mùi thơm của Aqua di Gio cho cả nam giới lẫn nữ giới. 
Hương thơm dành cho nam giới là một mùi hương của sự tự do, đầy gió và nước. Hỗn hợp mùi hương này được hình thành từ sự hòa hợp hoàn hảo giữa mùi hương ngòn ngọt mằn mặn của nước biển và ánh nắng ấm áp mơn trớn trên làn da của bạn. Aqua di Gio đầy ánh nắng mặt trời Địa Trung Hải nóng như thiêu đốt. Hương cam quýt đăng đắng với hương thơm của hương thảo quyện với vị mặn của biển và tinh chất hoa nhài trong suốt.', CAST(2398000 AS Decimal(18, 0)), CAST(2398000 AS Decimal(18, 0)), 0, CAST(N'2023-09-06T23:47:35.497' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Giorgio Armani Acqua Di Gio For Men EDT.png', 3)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'cfc19fdb-c0cd-4951-8cc9-30f50890b13f', N'Nước hoa Ghost Lomani EDP', N'3b538b1a-488e-4fa0-8492-ef0095e3ac18', N'53c30a9e-d7e1-4c10-adee-0891b4f802d2', 90, N'a82181c2-4aeb-4537-9451-5289d2bcce5f', N'8f243fa7-dd14-4a43-858a-d366aea335dc', N'Ghost Lomani EDP là một hương thơm thế hệ mới, là sự kết hợp bùng nổ giữa công nghệ cao và nước hoa cao cấp sản xuất tại Pháp. 

Ghost Lomani EPP thúc đẩy sự đổi mới và sáng tạo đến mức tối đa, để chắt lọc những thành phần kích thích sự tự tin, sức mạnh của sự quyến rũ và năng lượng. Một dấu vết gây nghiện: sự tươi mát của chanh và cỏ hương bài, giống như một luồng năng lượng, hòa quyện với sự gợi cảm của hoa oải hương siêu mịn và vani gỗ.', CAST(1290000 AS Decimal(18, 0)), CAST(1290000 AS Decimal(18, 0)), 0, CAST(N'2023-09-06T23:47:38.827' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Ghost Lomani EDP.png', 10)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'aa1f25ae-33e9-46a6-a2ad-36cafe559ff9', N'Nước hoa Dolce&Gabbana K EDT', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'12933033-debd-4791-9d2c-4b7c56a7dbb9', 150, N'ff87c17d-cff1-4779-9f4b-7bd691af61c3', N'8fcce473-6183-474b-af8f-de655a199bba', N'Dolce&Gabbana K EDT là chai nước hoa hương gỗ thơm dành cho nam giới, đầy lôi cuốn và gợi cảm. Hương thơm tươi mát lại tinh tế của nhóm hương thảo mộc gỗ thơm dễ dàng chiếm lấy trái tim của những người xung quanh, 
cho ta cảm nhận được chàng là một người vô cùng nam tính, cuốn hút và đầy chân thành.', CAST(3750000 AS Decimal(18, 0)), CAST(3750000 AS Decimal(18, 0)), 10, CAST(N'2023-09-06T16:38:37.733' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Dolce&Gabbana K EDT.png', 10)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'6c46d8de-9217-4d8c-8df7-4a3c8fabe1b2', N'test nhap2', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'f3c3d73c-f44e-4188-a0f4-5cc828c38108', 50, N'9361974b-c9ee-44e6-a29e-8df28ef09d86', N'2ee59b3e-45c7-41f0-9d6a-9f96be5bf4e6', N'Trở lại với cái tên huyền thoại, Scandal Pour Homme Le Parfum EDP chứa đựng một hương thơm mang tính biểu tượng mới: quyến rũ hơn và mãnh liệt hơn bởi hương thơm phương Đông sang trọng với nhiều khía cạnh. Các nốt hương của đậu tonka, gỗ đàn hương được bao trùm trong hương thơm nồng nàn của phong lữ mang lại một hương thơm mạnh mẽ, mang tính và hấp dẫn. 

Khái niệm đằng sau Scandal Pour Homme ban đầu – một nhà vô địch quyền anh – đã trở lại với nước hoa Scandal 2022. Huyền thoại quyền anh của Jean Paul Gaultier bước vào chiến thắng trước sự cổ vũ của đám đông, thể hiện sự hấp dẫn giới tính và năng lực thể thao khi anh ấy làm như vậy. Giống như hương thơm Scandal mãnh liệt của Jean Paul Gaultier, anh ấy đã sẵn sàng tung ra một cú đấm.', CAST(2800000 AS Decimal(18, 0)), CAST(2800000 AS Decimal(18, 0)), 0, CAST(N'2023-09-07T15:13:42.960' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Scandal Pour Homme Le Parfum EDP.jpg', 0)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'8c9022b7-a611-4c00-8f0e-5396afe85a33', N'Nước hoa Scandal Pour Homme Le Parfum EDP', N'8758f537-ea3a-42fb-91f2-dc3f6cfd0793', N'f3c3d73c-f44e-4188-a0f4-5cc828c38108', 100, N'9361974b-c9ee-44e6-a29e-8df28ef09d86', N'8f243fa7-dd14-4a43-858a-d366aea335dc', N'Trở lại với cái tên huyền thoại, Scandal Pour Homme Le Parfum EDP chứa đựng một hương thơm mang tính biểu tượng mới: quyến rũ hơn và mãnh liệt hơn bởi hương thơm phương Đông sang trọng với nhiều khía cạnh. 
Các nốt hương của đậu tonka, gỗ đàn hương được bao trùm trong hương thơm nồng nàn của phong lữ mang lại một hương thơm mạnh mẽ, mang tính và hấp dẫn.', CAST(3720000 AS Decimal(18, 0)), CAST(3720000 AS Decimal(18, 0)), 19, CAST(N'2023-09-06T23:47:35.980' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Scandal Pour Homme Le Parfum EDP.png', 0)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'22a5f415-284e-482c-8b3e-9b7bbae5cca3', N'Nước hoa Dolce&Gabbana K EDT', N'8758f537-ea3a-42fb-91f2-dc3f6cfd0793', N'53c30a9e-d7e1-4c10-adee-0891b4f802d2', 150, N'd8f3dc9a-1ffc-4633-b6bd-0d51c28e89d3', N'c4d371a1-4308-416a-95b2-bf4029264a3c', N'Dolce&Gabbana K EDT là chai nước hoa hương gỗ thơm dành cho nam giới, đầy lôi cuốn và gợi cảm. Hương thơm tươi mát lại tinh tế của nhóm hương thảo mộc gỗ thơm dễ dàng chiếm lấy trái tim của những người xung quanh, 
cho ta cảm nhận được chàng là một người vô cùng nam tính, cuốn hút và đầy chân thành.', CAST(3750000 AS Decimal(18, 0)), CAST(3750000 AS Decimal(18, 0)), 8, CAST(N'2023-09-06T23:47:36.157' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Dolce_Gabbana K EDT.png', 2)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'bd26bc20-11b1-4b9d-b792-d304a963e152', N'Nước hoa Scandal Pour Homme Le Parfum EDP', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'b226dbbf-ded5-45ae-9bcc-4d4716f2e10d', 100, N'7f3053a1-8305-44ce-b29a-0f72ebfd0134', N'a81928b0-c15a-4ca9-9dd1-be1a1316438f', N'Trở lại với cái tên huyền thoại, Scandal Pour Homme Le Parfum EDP chứa đựng một hương thơm mang tính biểu tượng mới: quyến rũ hơn và mãnh liệt hơn bởi hương thơm phương Đông sang trọng với nhiều khía cạnh. 
Các nốt hương của đậu tonka, gỗ đàn hương được bao trùm trong hương thơm nồng nàn của phong lữ mang lại một hương thơm mạnh mẽ, mang tính và hấp dẫn.', CAST(3720000 AS Decimal(18, 0)), CAST(3720000 AS Decimal(18, 0)), 8, CAST(N'2023-09-06T16:38:37.253' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Scandal Pour Homme Le Parfum EDP.png', 10)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'779c3d2a-d8c7-4124-bea3-e9142c483249', N'Nước hoa Scandal Pour Homme Le Parfum EDP', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'b226dbbf-ded5-45ae-9bcc-4d4716f2e10d', 50, N'7f3053a1-8305-44ce-b29a-0f72ebfd0134', N'a81928b0-c15a-4ca9-9dd1-be1a1316438f', N'Trở lại với cái tên huyền thoại, Scandal Pour Homme Le Parfum EDP chứa đựng một hương thơm mang tính biểu tượng mới: quyến rũ hơn và mãnh liệt hơn bởi hương thơm phương Đông sang trọng với nhiều khía cạnh. Các nốt hương của đậu tonka, gỗ đàn hương được bao trùm trong hương thơm nồng nàn của phong lữ mang lại một hương thơm mạnh mẽ, mang tính và hấp dẫn. 

Khái niệm đằng sau Scandal Pour Homme ban đầu – một nhà vô địch quyền anh – đã trở lại với nước hoa Scandal 2022. Huyền thoại quyền anh của Jean Paul Gaultier bước vào chiến thắng trước sự cổ vũ của đám đông, thể hiện sự hấp dẫn giới tính và năng lực thể thao khi anh ấy làm như vậy. Giống như hương thơm Scandal mãnh liệt của Jean Paul Gaultier, anh ấy đã sẵn sàng tung ra một cú đấm.', CAST(2800000 AS Decimal(18, 0)), CAST(2800000 AS Decimal(18, 0)), 12, CAST(N'2023-09-06T16:38:35.500' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Scandal Pour Homme Le Parfum EDP.jpg', 5)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'8d0a4378-602c-4ecd-802d-ec54a3ce8e5a', N'Nước hoa Armani Code For Men EDT', N'0043f7d2-2b16-4e48-bed8-e128f5485ade', N'68d41b27-29e8-410c-a3b5-c89052218ed1', 75, N'b0d2a09f-adc4-4259-b4a2-f4e0a8723227', N'8fcce473-6183-474b-af8f-de655a199bba', N'Armani Code EDT của thương hiệu Giorgio Armani là một hương phương đông - cay nồng dành cho nam giới. Armani Code EDT đã được ra mắt vào năm 2004, thuộc hương cay nồng phương Đông và là một sáng tạo của Antoine Lie, Antoine Maisondieu và Clement Gavarry. 
Loại nước hoa này đã đoạt giải thưởng FiFi Fragrance Of The Year Men`s Luxe vào năm 2006.', CAST(2625000 AS Decimal(18, 0)), CAST(2625000 AS Decimal(18, 0)), 7, CAST(N'2023-09-06T16:38:36.410' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Armani Code For Men EDT.png', 10)
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'c039603a-915a-4647-bfba-f5445c90b85b', N'Nước hoa Scandal Pour Homme Le Parfum EDP', N'8758f537-ea3a-42fb-91f2-dc3f6cfd0793', N'f3c3d73c-f44e-4188-a0f4-5cc828c38108', 50, N'9361974b-c9ee-44e6-a29e-8df28ef09d86', N'2ee59b3e-45c7-41f0-9d6a-9f96be5bf4e6', N'Trở lại với cái tên huyền thoại, Scandal Pour Homme Le Parfum EDP chứa đựng một hương thơm mang tính biểu tượng mới: quyến rũ hơn và mãnh liệt hơn bởi hương thơm phương Đông sang trọng với nhiều khía cạnh. Các nốt hương của đậu tonka, gỗ đàn hương được bao trùm trong hương thơm nồng nàn của phong lữ mang lại một hương thơm mạnh mẽ, mang tính và hấp dẫn. 

Khái niệm đằng sau Scandal Pour Homme ban đầu – một nhà vô địch quyền anh – đã trở lại với nước hoa Scandal 2022. Huyền thoại quyền anh của Jean Paul Gaultier bước vào chiến thắng trước sự cổ vũ của đám đông, thể hiện sự hấp dẫn giới tính và năng lực thể thao khi anh ấy làm như vậy. Giống như hương thơm Scandal mãnh liệt của Jean Paul Gaultier, anh ấy đã sẵn sàng tung ra một cú đấm.', CAST(2800000 AS Decimal(18, 0)), CAST(2800000 AS Decimal(18, 0)), 6, CAST(N'2023-09-06T23:47:35.340' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Scandal Pour Homme Le Parfum EDP.jpg', 2)
GO
INSERT [dbo].[SanPham] ([IDSanPham], [TenSanPham], [IDDanhMuc], [IDNhomHuong], [KichThuoc], [IDNhanHieu], [IDXuatXu], [MoTa], [GiaGoc], [GiaGiam], [SoLuongTon], [NgayThem], [NgaySua], [TrangThai], [ChietKhau], [ImageUrl], [SoLuongTrongKho]) VALUES (N'9172a614-77bf-4729-b1d1-fda9e1570752', N'Nước hoa Ghost Lomani EDP', N'91a76170-be20-4e5b-b456-1e816e248f7f', N'12933033-debd-4791-9d2c-4b7c56a7dbb9', 90, N'df088376-6df4-406c-be59-208e98d2326f', N'a81928b0-c15a-4ca9-9dd1-be1a1316438f', N'Ghost Lomani EDP là một hương thơm thế hệ mới, là sự kết hợp bùng nổ giữa công nghệ cao và nước hoa cao cấp sản xuất tại Pháp. 

Ghost Lomani EPP thúc đẩy sự đổi mới và sáng tạo đến mức tối đa, để chắt lọc những thành phần kích thích sự tự tin, sức mạnh của sự quyến rũ và năng lượng. Một dấu vết gây nghiện: sự tươi mát của chanh và cỏ hương bài, giống như một luồng năng lượng, hòa quyện với sự gợi cảm của hoa oải hương siêu mịn và vani gỗ.', CAST(1290000 AS Decimal(18, 0)), CAST(1290000 AS Decimal(18, 0)), 9, CAST(N'2023-09-06T16:38:45.173' AS DateTime), NULL, 1, 0, N'D:\Du_An1_Image\Ghost Lomani EDP.png', 10)
GO
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [IDLoaiNguoiDung], [Email], [MatKhau], [HoTen], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'd8bfc1ff-c7ea-402a-b0c7-0ad6a4501356', N'f5168a17-d77f-451c-80b5-c0c83ec75d6b', N'foxing24tn@gmail.com', N'123', N'Test', CAST(N'2023-09-07T14:57:18.320' AS DateTime), NULL, 1)
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [IDLoaiNguoiDung], [Email], [MatKhau], [HoTen], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'4712869f-0267-4c63-afae-303b397aaf2e', N'e0f09826-f2c6-4d0d-8f86-10ac32a8d682', N'toan1342004@gmail.com', N'123', N'Nguyễn Đức Toàn', CAST(N'2023-09-06T23:30:00.230' AS DateTime), NULL, 1)
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [IDLoaiNguoiDung], [Email], [MatKhau], [HoTen], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'3ae50d90-0170-48ba-8ba8-50fa77c0e8d0', N'e0f09826-f2c6-4d0d-8f86-10ac32a8d682', N'namnvph44314@fpt.edu.vn', N'123', N'Nguyễn Văn Nam', CAST(N'2023-09-07T14:49:50.327' AS DateTime), NULL, 2)
GO
INSERT [dbo].[XuatXu] ([IDXuatXu], [TenXuatXu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'3451b3f7-9870-4141-8d75-376f88c8093f', N'Đức', CAST(N'2023-09-06T16:38:43.177' AS DateTime), NULL, 1)
INSERT [dbo].[XuatXu] ([IDXuatXu], [TenXuatXu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'260f19d9-b66b-494b-adee-4569660e93a0', N'Mỹ', CAST(N'2023-09-06T16:38:39.453' AS DateTime), NULL, 1)
INSERT [dbo].[XuatXu] ([IDXuatXu], [TenXuatXu], [NgayThem], [NgaySua], [TrangThai]) VALUES (N'fcb8aa62-9e30-4a80-9e03-4e7439c7975c', N'None', CAST(N'2023-09-06T16:38:34.657' AS DateTime), NULL, 1)
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Hóa đơn cửa hàng nước hoa Perfumi') FOR [TenHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[LoaiNguoiDung] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[NhanHieu] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[NhomHuong] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [ChietKhau]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[XuatXu] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IDKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([IDKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDonKhachHang]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([IDHoaDon])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([IDSanPham])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDNhanVienKho])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDNhanVienCuaHang])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[HoaDonNhapChiTiet]  WITH CHECK ADD FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDonNhap] ([IDHoaDon])
GO
ALTER TABLE [dbo].[HoaDonNhapChiTiet]  WITH CHECK ADD FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([IDSanPham])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([IDDanhMuc])
REFERENCES [dbo].[DanhMuc] ([IDDanhMuc])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([IDNhanHieu])
REFERENCES [dbo].[NhanHieu] ([IDNhanHieu])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([IDNhomHuong])
REFERENCES [dbo].[NhomHuong] ([IDNhomHuong])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([IDXuatXu])
REFERENCES [dbo].[XuatXu] ([IDXuatXu])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([IDLoaiNguoiDung])
REFERENCES [dbo].[LoaiNguoiDung] ([IDLoaiNguoiDung])
GO
/****** Object:  StoredProcedure [dbo].[updateSanPham]    Script Date: 07/09/2023 4:18:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateSanPham] @idSanPham varchar(200), @tenSanPham nvarchar(60), @TenDanhMuc nvarchar (50), @TenNhomHuong nvarchar (50),
@KichThuoc int, @TenNhanHieu nvarchar (50), @TenXuatXu nvarchar (50), @MoTa text, @GiaGoc decimal(18,0), @SoLuongTon int, 
 @TrangThai int, @ChietKhau int, @ImageUrl varchar (150)
AS 

update SanPham 
set TenSanPham=@tenSanPham
where IDSanPham = @idSanPham

update SanPham 
set IDDanhMuc= @TenDanhMuc
where IDSanPham = @idSanPham

update SanPham 
set IDNhomHuong=@TenNhomHuong
where IDSanPham = @idSanPham

update SanPham 
set KichThuoc=@KichThuoc
where IDSanPham = @idSanPham

update SanPham 
set IDNhanHieu= @TenNhanHieu
where IDSanPham = @idSanPham

update SanPham 
set IDXuatXu= @TenXuatXu
where IDSanPham = @idSanPham

update SanPham 
set MoTa=@MoTa
where IDSanPham = @idSanPham

update SanPham 
set GiaGoc=@GiaGoc
where IDSanPham =@idSanPham

UPDATE SanPham
set GiaGiam= @GiaGoc - (@GiaGoc * @ChietKhau / 100) 
where IDSanPham = @idSanPham



update SanPham 
set NgaySua=GETDATE()
where IDSanPham = @idSanPham

update SanPham 
set TrangThai=@TrangThai
where IDSanPham =@idSanPham


update SanPham 
set ChietKhau=@ChietKhau
where IDSanPham = @idSanPham

update SanPham 
set ImageUrl=@ImageUrl
where IDSanPham = @idSanPham
GO
USE [master]
GO
